.update {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.updateBtn {
  display: block;
  margin: 0 auto;
  background-color: #edc55d;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
}

.updateBtn:hover {
  background-color: #af8108;
  color: white;
}
